name: build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.22.x, 1.23.x, 1.24.x, stable ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Dependencies
        run: go mod tidy
      - name: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4
          args: --timeout=10m
      - name: test
        run: make test
      - name: Upload artifacts
        if: matrix.go-version == 'stable'
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: .tests/coverage.html